[run]
source=.
omit =
    coverage/*
    env/*
    factories/*
    config/*
    migrations/*
    recipe/__init__.py
    recipe/controllers/*
    seeds/*
    tests/*
    env/*
    main.py
    db.py
    auth_encryption/encryption.py

[html]
directory = coverage